*,*::before, *::after{
  box-sizing: border-box;
  font-family: sans-serif
}


body {
  background: linear-gradient(to right, rgb(162, 215, 226),rgb(95, 144, 177));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  width: 1000px;
  background-color: rgb(230, 297, 242);
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
}

.content {
  padding: 40px;
  margin-top: 50px;
}

.header {
  background-color: #222;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-container{
  position: relative;
  top: 65px;
  padding: 10px;
  background-color: rgb(230, 297, 242);
  width: 120px;
  height: 120px;
  border-radius: 50px;
}

.general-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.detail.bordered {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.detail .title {
  font-size: 2rem;
  flex-grow: 1;
  font-weight: bold;
  color: #777
}

.detail .value {
  font-size: 2rem;
  margin: 20px;
}

form .address-search {
  display: flex;
  justify-content: center;
}

.address-search-box{
  font-size: 1rem;
  outline: none;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px 0 15px 0;
}


.city-extra {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.city-extra input {
  margin: 10px 5px;
  font-size: .7rem;
  outline: none;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px 7px;
}
.submit-button {
    display: flex;
    justify-content: center;
}

.OpenWeather-logo {
  position: absolute;
  bottom: 20px;
  right: 20px
}

.hide{
  display: none;
}
